In [57]:
import numpy as np
import pandas as pd
import ast #module for using literal_eval(), which turns string of any data type to that data type, (ast=Abstract Syntax Tree)
from sklearn.feature_extraction.text import CountVectorizer# For text vectorization
import nltk
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
 credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies= movies.merge(credits, on='title')
#Merging the two datasets on the basis of the title of movie

In [6]:
movies.shape# To see how many columns addded

(4809, 23)

In [7]:
movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [8]:
# Columns to keep:
#Genres
#movie_id
#keywords
#title
#overview
#cast
#crew
movies= movies[["movie_id",'title','overview','genres','keywords', 'cast','crew']]

In [9]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
#Checking for missing data
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [11]:
#removing rows with missing data
movies.dropna(inplace=True)

C:\Users\kumar\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [12]:
#Checking for duplicated data
movies.duplicated().sum()

0

In [13]:
#Fixing the columns one by one

In [14]:
#Genres
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
#Convert above into:
#['Action','Adventure','Fantasy', Science Fiction']

In [16]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L
#movies['keywords']= movies['keywords'].apply(convert)

In [17]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
#Converting for keywords
movies['keywords']= movies['keywords'].apply(convert)

C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/3766908664.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']= movies['keywords'].apply(convert)

In [19]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
def convert_cast(obj):
    M=[]
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            M.append(i['name'])
            counter+=1
        else:
            break
    return M

In [21]:
movies['cast']=movies['cast'].apply(convert_cast)

C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/819878563.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(convert_cast)

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
def convert_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']== 'Director':
            
            L.append(i['name'])
            break
    return L

In [24]:
movies['crew']=movies['crew'].apply(convert_director)

C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/3323429125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew']=movies['crew'].apply(convert_director)

In [25]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [26]:
#Changing overview from a string to a list so that it can be concatenated with other lists
movies['overview']=movies['overview'].apply(lambda x: x.split())

C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/3847159260.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview']=movies['overview'].apply(lambda x: x.split())

In [27]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [28]:
#To remove whitespaces in names, so that model is not confused with similar first/last names(similarly with all columns)
movies['genres']=movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])

C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/1749403859.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/1749403859.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/1749403859.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/1749403859.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew']=movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [29]:

movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [30]:
#Concatenating all these colums into a single column: 'tags'
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/4166696826.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [31]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [32]:
#Removies all concantenated columns
new_df= movies[['movie_id', 'title', 'tags']]

In [33]:
new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/684433085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))

In [34]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [35]:
#Converting everthing in tags to lower case
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/2083755955.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

In [36]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [37]:
 cv = CountVectorizer(max_features=5000, stop_words='english')# To convert text into numbers on the basis of their occurences

In [38]:
vectors= cv.fit_transform(new_df['tags']).toarray()

In [39]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [52]:
#there are multiple features which are very similar to each other(activity/activities), this should not be the case.
#Doing stemming: Converting similar words into one word
def stemming(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return ' '.join(y)

In [54]:
new_df['tags']=new_df['tags'].apply(stemming)

C:\Users\kumar\AppData\Local\Temp/ipykernel_18192/226593929.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stemming)

In [55]:
#repeating the vectorization process with stemmed words
vectors= cv.fit_transform(new_df['tags']).toarray()

In [56]:
cv.get_feature_names()

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '17th',
 '18',
 '18th',
 '18thcenturi',
 '19',
 '1910',
 '1920',
 '1930',
 '1940',
 '1944',
 '1950',
 '1950s',
 '1960',
 '1960s',
 '1970',
 '1970s',
 '1971',
 '1974',
 '1976',
 '1980',
 '1985',
 '1990',
 '1999',
 '19th',
 '19thcenturi',
 '20',
 '200',
 '2003',
 '2009',
 '20th',
 '21st',
 '23',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '70',
 '80',
 'aaron',
 'aaroneckhart',
 'abandon',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'aboard',
 'abov',
 'abus',
 'academ',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acquaint',
 'act',
 'action',
 'actionhero',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'ad',
 'adam',
 'adamsandl',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrienbrodi',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'advanc',
 'adventur',
 'adventure',
 'adventures',
 'advertis',
 'advic',
 'advis',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'african',
 'africanamerican',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'ag',
 'age',
 'agediffer',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidanquinn',
 'ail',
 'aim',
 'air',
 'airplan',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alaska',
 'albert',
 'alcatraz',
 'alcohol',
 'alecbaldwin',
 'alex',
 'alexkendrick',
 'alfredhitchcock',
 'alfredmolina',
 'ali',
 'alic',
 'alice',
 'alien',
 'alieninvas',
 'alienlife',
 'alienplanet',
 'aliens',
 'alik',
 'aliv',
 'alive',
 'allen',
 'alli',
 'allianc',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alpha',
 'alreadi',
 'alter',
 'altern',
 'alway',
 'alyssa',
 'alzheimer',
 'amanda',
 'amandapeet',
 'amandaseyfri',
 'amateur',
 'amaz',
 'amazon',
 'ambassador',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americancivilwar',
 'americanfootbal',
 'americanfootballplay',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amus',
 'amusementpark',
 'amy',
 'amyadam',
 'amysmart',
 'ana',
 'anakin',
 'analyst',
 'anarchiccomedi',
 'ancient',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andi',
 'andiemacdowel',
 'andrew',
 'android',
 'andy',
 'andygarcía',
 'angel',
 'angela',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'anger',
 'angle',
 'angri',
 'ani',
 'anim',
 'animalattack',
 'animalhorror',
 'animals',
 'anjelicahuston',
 'ann',
 'anna',
 'annafari',
 'annakendrick',
 'anne',
 'annehathaway',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'anniversari',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'antholog',
 'anthoni',
 'anthonyanderson',
 'anthonyhopkin',
 'anthonymacki',
 'anthropomorph',
 'anti',
 'antic',
 'antihero',
 'antiqu',
 'antoinefuqua',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apocalyps',
 'apocalypse',
 'apocalypt',
 'appar',
 'appear',
 'appl',
 'apple',
 'appoint',
 'appreci',
 'apprentic',
 'approach',
 'april',
 'aquarium',
 'arab',
 'arch',
 'archaeologist',
 'archeolog',
 'archer',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'armor',
 'armsdeal',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'arrangedmarriag',
 'arrest',
 'arriv',
 'arrog',
 'art',
 'arthur',
 'artifact',
 'artifici',
 'artificialintellig',
 'artist',
 'ash',
 'ashley',
 'ashleyjudd',
 'ashtonkutch',
 'asia',
 'asian',
 'asid',
 'ask',
 'aspir',
 'assassin',
 'assault',
 'assign',
 'assist',
 'assistant',
 'associ',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'athlet',
 'atom',
 'atomicbomb',
 'attack',
 'attacks',
 'attempt',
 'attempttoescap',
 'attend',
 'attent',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'auction',
 'audienc',
 'audit',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'autism',
 'auto',
 'automobilerac',
 'aveng',
 'averag',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awkward',
 'awri',
 'awry',
 'ax',
 'babe',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'bad',
 'bag',
 'bahama',
 'bail',
 'balanc',
 'ball',
 'ballet',
 'balloon',
 'band',
 'bandit',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bar',
 'barbrastreisand',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barrylevinson',
 'barrysonnenfeld',
 'bas',
 'base',
 'basebal',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'basketball',
 'bat',
 'batman',
 'battl',
 'battle',
 'battlefield',
 'bay',
 'beach',
 'beam',
 'bear',
 'beard',
 'beast',
 'beat',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becam',
 'becaus',
 'becki',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'bee',
 'beer',
 'befor',
 'befriend',
 'began',
 'begin',
 'begins',
 'behavior',
 'belief',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'bend',
 'beneath',
 'benefit',
 'benfost',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennett',
 'benstil',
 'bent',
 'berlin',
 'best',
 'bestfriend',
 'bestfriendsinlov',
 'bet',
 'beth',
 'betray',
 'bettemidl',
 'better',
 'betti',
 'beverli',
 'bibl',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bikini',
 'billhad',
 'billi',
 'billionair',
 'billmurray',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billycrudup',
 'billycryst',
 'biographi',
 'biolog',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarr',
 'black',
 'blackmag',
 'blackmail',
 'blackpeopl',
 'blacksmith',
 'blade',
 'blame',
 'blend',
 'blind',
 'bliss',
 'blizzard',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'blow',
 'blue',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbi',
 'bobbyfarrelli',
 'bobhoskin',
 'bodi',
 'body',
 'bodyguard',
 'bold',
 'bollywood',
 'bomb',
 'bond',
 'bone',
 'book',
 'border',
 'bore',
 'boredom',
 'born',
 'boss',
 'boston',
 'botch',
 'bound',
 'boundari',
 'bounti',
 'bountyhunt',
 'bout',
 'box',
 'boxer',
 'boy',
 'boyfriend',
 'boys',
 'bradleycoop',
 'bradpitt',
 'brain',
 'brainwash',
 'brand',
 'brandon',
 'brave',
 'braveri',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breakup',
 'breast',
 'breath',
 'breed',
 'brendanfras',
 'brendangleeson',
 'brent',
 'brettratn',
 'brian',
 'briandepalma',
 'bride',
 'bridesmaid',
 'bridg',
 'brief',
 'brielarson',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britishsecretservic',
 'brittanymurphi',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'broker',
 'bronx',
 'brook',
 'brooklyn',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucegreenwood',
 'brucewilli',
 'brutal',
 'bryansing',
 'bu',
 'buck',
 'bud',
 'buddi',
 'buddy',
 'buddycomedi',
 'buddycop',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bumbl',
 'bunch',
 'bunker',
 'bunni',
 'burglar',
 'buri',
 'burn',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butcher',
 'butler',
 'butt',
 'button',
 'buy',
 'buzz',
 'cabin',
 'caesar',
 'cage',
 'cairo',
 'cal',
 'california',
 'calvin',
 'camcord',
 'came',
 'camera',
 'cameraman',
 'camerondiaz',
 'camp',
 'campaign',
 'campbell',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candi',
 'candid',
 'canin',
 'cannib',
 'canuxploit',
 'capabl',
 'caper',
 'capit',
 'capt',
 'captain',
 'captiv',
 'captur',
 'capture',
 'car',
 'caraccid',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'carefre',
 'caretak',
 'careymulligan',
 'caribbean',
 'carjourney',
 'carl',
 'carlagugino',
 'carmen',
 'carol',
 'carolina',
 'carrac',
 'carri',
 'carrie',
 'cartel',
 'carter',
 'cartoon',
 'caryelw',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'cateblanchett',
 'catherinedeneuv',
 'catherinekeen',
 'catherinezeta',
 'cathol',
 'catholic',
 'cattl',
 'caught',
 'caus',
 'cavalri',
 'cave',
 'cavemen',
 'celebr',
 'celebration',
 'cell',
 'cellphon',
 'cemeteri',
 'center',
 'centr',
 'central',
 'centuri',
 'centuries',
 'century',
 'ceo',
 'certain',
 'chad',
 'chain',
 'chainsaw',
 'challeng',
 'chamber',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chang',
 'change',
 'changed',
 'changes',
 'channingtatum',
 'chao',
 'chaos',
 'chaotic',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charli',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charm',
 'chart',
 'chase',
 'chauffeur',
 'chazzpalminteri',
 'cheat',
 'check',
 'cheerlead',
 'chef',
 'chemic',
 'cher',
 'chevychas',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhero',
 'childhood',
 'childprodigi',
 'children',
 'chill',
 'chimp',
 'china',
 'chines',
 'chip',
 'chipmunk',
 'chiwetelejiofor',
 'chloe',
 'chloëgracemoretz',
 'chloësevigni',
 'chocol',
 'choic',
 'choice',
 'choos',
 'chosen',
 'chowyun',
 'chri',
 'chriscolumbu',
 'chriscoop',
 'chrisevan',
 'chrishemsworth',
 'chrisklein',
 'chrispin',
 'chrisrock',
 'christ',
 'christian',
 'christianbal',
 'christianslat',
 'christin',
 'christinaappleg',
 'christinaricci',
 'christma',
 'christmas',
 'christmasparti',
 'christmastre',
 'christoph',
 'christopherlambert',
 'christopherlloyd',
 'christophernolan',
 'christopherplumm',
 'christopherwalken',
 'christophwaltz',
 'chrisweitz',
 'chronicl',
 'chuck',
 'church',
 'cia',
 'ciaránhind',
 'cigarettesmok',
 'cillianmurphi',
 'cinema',
 'circl',
 'circu',
 'circuit',
 'circumst',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'civilwar',
 'claim',
 'clair',
 'clairedan',
 'claireforlani',
 'clan',
 'clark',
 'clash',
 'class',
 'classdiffer',
 'classic',
 'classmat',
 'classroom',
 'claudevandamm',
 'clay',
 'clean',
 'clear',
 'clerk',
 'clever',
 'client',
 'clients',
 'cliff',
 'climat',
 'climb',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clone',
 'close',
 'closer',
 'cloud',
 'clown',
 'club',
 'clue',
 'clueless',
 'clutch',
 'coach',
 'coast',
 'cocain',
 'code',
 'coffin',
 'cohen',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colin',
 'colinfarrel',
 'colinfirth',
 'collaps',
 'colleagu',
 'collect',
 'collector',
 'colleg',
 'college',
 'collid',
 'collis',
 'colombia',
 'colonel',
 'coloni',
 'color',
 'colorado',
 'coma',
 'combat',
 'combin',
 'come',
 'comeback',
 'comed',
 'comedi',
 'comedian',
 'comedy',
 'comet',
 'comfort',
 'comic',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commando',
 'commerci',
 'commiss',
 'commit',
 'common',
 'commun',
 'communist',
 'community',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'compuls',
 'comput',
 'computerviru',
 'conan',
 'concern',
 'concert',
 'concoct',
 'condit',
 'condition',
 'conduct',
 'confeder',
 'confess',
 'confid',
 'confin',
 'conflict',
 'confront',
 'confus',
 'congress',
 'conman',
 'connect',
 'connecticut',
 'connel',
 'connor',
 'conquer',
 'consequ',
 'consequences',
 'conserv',
 'consid',
 'conspir',
 'conspiraci',
 'conspiracy',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contemporari',
 'contend',
 'content',
 'contest',
 'continu',
 'contract',
 'contractor',
 'control',
 'controversi',
 'convent',
 'converg',
 'convers',
 'convict',
 'convinc',
 'cook',
 'cool',
 'cooper',
 ...]

In [59]:
#Finding the cosine similarity(1/cosine distance) of every vector with every other vector
similarity_score=cosine_similarity(vectors)

In [61]:
similarity_score.shape

(4806, 4806)

In [79]:
sorted(list(enumerate(similarity_score[0])), reverse = True, key =lambda x:x[1])[1:6]#List of tuples with intact indexes
#key =lambda x:x[1] means we sort based on second numbers of al tuples not first

[(1216, 0.25142264225703365),
 (2409, 0.24404676504598818),
 (582, 0.21613144789263333),
 (507, 0.20812378052829614),
 (3730, 0.20797258270192573)]

In [86]:
def recommend(movie):
    movie_index=(new_df[new_df['title']== movie]).index[0]#Finding the index of the asked movie in our data frame
    distances= similarity_score[movie_index]
    movies_list=sorted(list(enumerate(distances)), reverse = True, key =lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [71]:
sorted(similarity_score[0], reverse=True)# Can't use it as indexes will get shuffled too after sorting

[1.0,
 0.25142264225703365,
 0.24404676504598818,
 0.21613144789263333,
 0.20812378052829614,
 0.20797258270192573,
 0.2045239970259654,
 0.1992633492465214,
 0.19802950859533486,
 0.19474520942613002,
 0.18981415059132414,
 0.17503501050350123,
 0.16977493752543307,
 0.16516802780306677,
 0.1647705109143269,
 0.16169041669088866,
 0.15877683720748892,
 0.1569197342897824,
 0.15339299776947407,
 0.150093837982278,
 0.14969623771302393,
 0.14969623771302393,
 0.14969623771302393,
 0.14890247043403096,
 0.14777011582226215,
 0.14666320798326962,
 0.1449427589131121,
 0.1430397079704303,
 0.14291548761875733,
 0.14269544824634822,
 0.14269544824634822,
 0.14097096860865022,
 0.140028008402801,
 0.140028008402801,
 0.14002800840280097,
 0.1373087590952724,
 0.1373087590952724,
 0.13719886811400706,
 0.13629325512727639,
 0.1345345587992625,
 0.1345345587992625,
 0.13396328420673195,
 0.13284223283101426,
 0.13284223283101426,
 0.1320196723968899,
 0.12927192249875477,
 0.12927192249875477,
 0.12524485821702988,
 0.12507819831856498,
 0.12478354962115544,
 0.12478354962115543,
 0.1224989893875063,
 0.12126781251816647,
 0.12007302660701852,
 0.11941628680530642,
 0.1188177051572009,
 0.11651034560709259,
 0.11504474832710555,
 0.11504474832710555,
 0.11433239009500588,
 0.11433239009500587,
 0.11227217828476795,
 0.11128297681493143,
 0.10984700727621793,
 0.10969086361906957,
 0.10846522890932808,
 0.10846522890932808,
 0.10846522890932808,
 0.10846522890932808,
 0.10727978097782273,
 0.10713431680111603,
 0.10713431680111603,
 0.10635890745287925,
 0.10613237065158374,
 0.10585122480499262,
 0.10555008273018725,
 0.10502100630210075,
 0.10502100630210075,
 0.10461315619318828,
 0.10461315619318828,
 0.10398629135096286,
 0.10341753799900383,
 0.10289915108550529,
 0.10289915108550529,
 0.10226199851298272,
 0.10226199851298272,
 0.10226199851298272,
 0.10114434748483471,
 0.10114434748483471,
 0.10114434748483471,
 0.10090091909944686,
 0.09901475429766743,
 0.09901475429766743,
 0.09723055853282464,
 0.09723055853282464,
 0.0955394632947723,
 0.0955394632947723,
 0.09513029883089881,
 0.0942285694863091,
 0.0939336436627724,
 0.0939336436627724,
 0.09335200560186731,
 0.09249945801257606,
 0.09249945801257606,
 0.09249945801257604,
 0.09240616554505461,
 0.09166984970282112,
 0.09095085938862485,
 0.09095085938862485,
 0.09095085938862485,
 0.09086217008485092,
 0.0893088561378213,
 0.08856148855400953,
 0.08856148855400951,
 0.08712136837380642,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.0850871259623034,
 0.08458258116519013,
 0.08458258116519013,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08328707558159618,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08258401390153339,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08035073760083702,
 0.08035073760083702,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07756315349925287,
 0.07756315349925287,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07585826061362604,
 0.075755401907857,
 0.07504691899113898,
 0.07504691899113898,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07426106572325057,
 0.07426106572325057,
 0.07426106572325057,
 0.07349939363250378,
 0.07349939363250378,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07276068751089988,
 0.07276068751089988,
 0.07276068751089988,
 0.07204381596421111,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07134772412317411,
 0.07134772412317411,
 0.07067142711473183,
 0.07067142711473183,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.07001400420140048,
 0.07001400420140048,
 0.06937459350943204,
 0.06875238727711584,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06843538575349505,
 0.06755660236665673,
 0.06755660236665673,
 0.06755660236665673,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06642111641550713,
 0.06642111641550713,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06587443126365881,
 0.06587443126365881,
 0.06534102628035482,
 0.0653410262803548,
 0.06511170133930119,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06431196942844081,
 0.06381534447172756,
 0.06381534447172756,
 0.06381534447172756,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06333004963811235,
 0.06333004963811235,
 0.06285566056425841,
 0.06285566056425841,
 0.06285566056425841,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.062373432380426634,
 0.06160411036336974,
 0.06160411036336974,
 0.06160411036336974,
 0.06160411036336974,
 0.061494004626809075,
 0.0610594125759979,
 0.0610594125759979,
 0.0610594125759979,
 0.06063390625908324,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.059808916712167495,
 0.05970814340265321,
 0.05970814340265321,
 0.05970814340265321,
 0.05940885257860044,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.058632232874557814,
 0.05797710356524483,
 0.05797710356524483,
 0.05797710356524483,
 0.05797710356524483,
 0.05797710356524483,
 0.05797710356524483,
 0.05788529495093047,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.05601120336112039,
 0.05564148840746572,
 0.05564148840746572,
 0.05564148840746572,
 0.05564148840746572,
 0.05564148840746572,
 0.05564148840746572,
 0.05564148840746572,
 0.05547950410914818,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05278615073083401,
 0.05230657809659414,
 0.05230657809659414,
 0.05230657809659414,
 0.05230657809659414,
 0.05230657809659414,
 0.05230657809659414,
 0.05230657809659414,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051449575542752646,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.050572173742417355,
 0.050572173742417355,
 0.050572173742417355,
 0.050572173742417355,
 0.050572173742417355,
 0.050572173742417355,
 0.050572173742417355,
 0.050435306986068934,
 0.05003127932742599,
 0.05003127932742599,
 0.05003127932742599,
 0.05003127932742599,
 0.05003127932742599,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.04899959575500252,
 0.04899959575500252,
 0.04899959575500252,
 0.04899959575500252,
 0.04899959575500252,
 0.04850712500726659,
 0.04850712500726659,
 0.04850712500726659,
 0.04850712500726659,
 0.04850712500726659,
 0.04850712500726659,
 0.04802921064280741,
 0.04802921064280741,
 0.04802921064280741,
 0.04802921064280741,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.04736317334630044,
 0.04711428474315455,
 0.04711428474315455,
 0.04711428474315455,
 0.046676002800933654,
 0.046676002800933654,
 0.04639051998342824,
 0.04624972900628803,
 0.04624972900628803,
 0.04624972900628803,
 0.04624972900628803,
 0.04624972900628803,
 0.046203082772527305,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04543108504242546,
 0.04543108504242546,
 0.04543108504242546,
 0.04543108504242546,
 0.045037734911104486,
 0.045037734911104486,
 0.045037734911104486,
 0.045037734911104486,
 0.045037734911104486,
 0.045037734911104486,
 0.04465442806891065,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.04391628750910588,
 0.04391628750910588,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04321358157014428,
 0.04321358157014428,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.0425435629811517,
 0.0425435629811517,
 0.0425435629811517,
 0.0422200330920749,
 0.042008402520840295,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041292006950766694,
 0.041292006950766694,
 0.041292006950766694,
 0.04080216746870543,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.039872611141445,
 0.039872611141445,
 0.039605901719066965,
 0.039605901719066965,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03908815524970521,
 0.03883678186903086,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.0378777009539285,
 0.0378777009539285,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03720326659021622,
 0.036986336072765455,
 0.0367731565676461,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03615507630310936,
 0.03615507630310936,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03537745688386124,
 0.03519076715388934,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.034647946433761845,
 0.034647946433761845,
 0.03460872973026777,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.033796515420933156,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.032124628310161774,
 0.032124628310161774,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.03157544889753363,
 0.03131121455425747,

In [88]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Battle: Los Angeles
Independence Day
Falcon Rising

In [85]:
#Fetching the names from the indexes
new_df.iloc[65].title

'The Dark Knight'

In [89]:
#Starting with the website now

In [90]:
#sending the data file to pycharm
import pickle

In [92]:
pickle.dump(new_df, open('movies.pkl','wb'))

In [98]:
#Could not send the pandas data frame to pycharm using pickle, so now converting the dataframe to a dictionary and then sending
pickle.dump(new_df.to_dict(), open('movie_dict.pkl','wb'))

In [100]:
#Dumping the similairity matrix
pickle.dump(similarity_score,open('similarity_matrix.pkl','wb'))